In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from datasets import load_dataset

dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])

In [2]:
df.sample(10)

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills
642695,Data Scientist,Research blockchain Engineer,Anywhere,via LinkedIn,Full-time,True,Ukraine,2023-11-15 12:30:26,False,False,Ukraine,None,NaN,NaN,Data Science UA,"['go', 'rust', 'javascript', 'solidity']","{'programming': ['go', 'rust', 'javascript', '..."
593490,Senior Data Analyst,Senior Data Analyst,"Somerville, MA",via Experimentation Jobs,Full-time,False,"New York, United States",2023-11-24 09:00:14,True,False,United States,None,NaN,NaN,Velir,None,None
406171,Data Engineer,Big Data Engineer,"Rockville, MD",via WANE Jobs,Full-time,False,"Texas, United States",2023-02-05 16:07:51,False,False,United States,None,NaN,NaN,ConsultNet,"['sql', 'aws', 'spark', 'hadoop']","{'cloud': ['aws'], 'libraries': ['spark', 'had..."
744275,Data Analyst,"Analyst, Pharmaceuticals, Data Management",Canada,via BeBee Canada,Full-time,False,Canada,2023-10-27 20:19:45,False,False,Canada,None,NaN,NaN,Njoyn,"['sas', 'sas', 'r', 'python']","{'analyst_tools': ['sas'], 'programming': ['sa..."
721783,Senior Data Engineer,"Senior Data Engineer, Federal Marketing - Now ...","Portland, ME",via Snagajob,Full-time and Part-time,False,"Illinois, United States",2023-09-15 21:08:39,False,False,United States,hour,NaN,52.34,Dell,"['python', 'sql', 'spark', 'hadoop', 'docker']","{'libraries': ['spark', 'hadoop'], 'other': ['..."
572771,Data Engineer,Data Center Engineer,Hong Kong,via LinkedIn Hong Kong,Full-time,False,Hong Kong,2023-11-16 09:22:25,True,False,Hong Kong,None,NaN,NaN,Jane Street,"['bash', 'python', 'ocaml', 'colocation', 'lin...","{'cloud': ['colocation'], 'os': ['linux'], 'pr..."
71863,Data Scientist,Chief Data Science and Data Engineering Office...,"Toulouse, France",via Elite Recruitment Group,Part-time,False,France,2023-10-24 00:19:11,False,False,France,None,NaN,NaN,EliteRecruitmentGroup,['aws'],{'cloud': ['aws']}
88084,Data Engineer,Data Engineer,"Judean Foothills, Israel (+2 others)",via Jobnet,Full-time,False,Israel,2023-05-30 00:28:20,False,False,Israel,None,NaN,NaN,RecrutiX,['aws'],{'cloud': ['aws']}
175032,Data Scientist,"Data Scientist, Expert","Oakland, CA",via BeBee,Full-time,False,"California, United States",2023-05-16 15:03:51,False,False,United States,None,NaN,NaN,Pacific Gas And Electric Company,"['sas', 'sas', 'sql', 'python', 'tableau']","{'analyst_tools': ['sas', 'tableau'], 'program..."
761909,Data Analyst,Data Analyst,"Levallois-Perret, France",via Emplois Trabajo.org,Full-time,False,France,2023-06-05 20:40:23,False,False,France,None,NaN,NaN,Société Générale,"['power bi', 'excel']","{'analyst_tools': ['power bi', 'excel']}"