In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from datasets import load_dataset

dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])

In [2]:
df.index.name = 'job_index'

In [7]:
df_arg = df[df['job_country'] == 'Argentina']

df_arg.reset_index(inplace=True)
df_arg

,job_index,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills
0,236,Data Scientist,Científico de Datos LLM,Anywhere,via LinkedIn,Full-time,True,Argentina,2023-10-08 13:46:02,False,False,Argentina,None,NaN,NaN,Turing,None,None
1,417,Senior Data Scientist,Data Science SR Puerto Madero,"Buenos Aires, Argentina","via Trabajo.org - Vacantes De Empleo, Trabajo",Full-time,False,Argentina,2023-07-03 13:17:35,False,False,Argentina,None,NaN,NaN,Werben Capital Human,"['java', 'scala']","{'programming': ['java', 'scala']}"
2,863,Data Engineer,Data Engineer Jr,Argentina,via LinkedIn,Full-time,False,Argentina,2023-05-31 14:00:43,True,False,Argentina,None,NaN,NaN,Randstad Argentina,"['python', 'azure']","{'cloud': ['azure'], 'programming': ['python']}"
3,1131,Data Scientist,Data & Applied Intelligence #hub,"Buenos Aires, Argentina","via Trabajo.org - Vacantes De Empleo, Trabajo",Full-time,False,Argentina,2023-09-03 13:43:27,False,False,Argentina,None,NaN,NaN,Accenture,"['sql', 'python', 'sql server', 'postgresql', ...","{'cloud': ['azure', 'aws', 'gcp'], 'databases'..."
4,1140,Software Engineer,Visual Basic Developer (with Data experience) ...,Anywhere,via LinkedIn,Full-time,True,Argentina,2023-03-19 13:45:03,True,False,Argentina,None,NaN,NaN,Listopro,"['excel', 'confluence']","{'analyst_tools': ['excel'], 'async': ['conflu..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8731,785605,Senior Data Engineer,"Sr. Data Architect, Professional Services","Buenos Aires, Argentina","via Trabajo.org - Vacantes De Empleo, Trabajo",Full-time,False,Argentina,2023-08-01 06:34:24,False,False,Argentina,None,NaN,NaN,Emprego,"['sql', 'java', 'javascript', 'python', 'nosql...","{'cloud': ['aws', 'redshift'], 'databases': ['..."
8732,785608,Software Engineer,Senior Software Engineer,"Buenos Aires, Argentina","via Trabajo.org - Vacantes De Empleo, Trabajo",Full-time,False,Argentina,2023-09-28 06:29:25,True,False,Argentina,None,NaN,NaN,Emprego,"['php', 'javascript', 'css', 'sass', 'sql', 'n...","{'libraries': ['react', 'graphql', 'kafka'], '..."
8733,785638,Data Analyst,Data Analyst,"Buenos Aires, Argentina","via Trabajo.org - Vacantes De Empleo, Trabajo",Full-time,False,Argentina,2023-10-27 06:47:13,False,False,Argentina,None,NaN,NaN,Emprego,"['python', 'r', 'sql', 'looker', 'tableau']","{'analyst_tools': ['looker', 'tableau'], 'prog..."
8734,785668,Data Analyst,Jr Data Analyst,Argentina,"via Trabajo.org - Vacantes De Empleo, Trabajo",Full-time,False,Argentina,2023-08-29 06:47:14,True,False,Argentina,None,NaN,NaN,Emprego,"['python', 'excel', 'tableau', 'power bi', 'sp...","{'analyst_tools': ['excel', 'tableau', 'power ..."
8735,785672,Cloud Engineer,"Customer Engineer, Apigee, Google Cloud","Buenos Aires, Argentina","via Trabajo.org - Vacantes De Empleo, Trabajo",Full-time,False,Argentina,2023-08-29 06:47:39,False,False,Argentina,None,NaN,NaN,Emprego,None,None

In [8]:
df_arg.set_index('job_index',inplace=True)
df_arg

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills
job_index,,,,,,,,,,,,,,,,,
236,Data Scientist,Científico de Datos LLM,Anywhere,via LinkedIn,Full-time,True,Argentina,2023-10-08 13:46:02,False,False,Argentina,None,NaN,NaN,Turing,None,None
417,Senior Data Scientist,Data Science SR Puerto Madero,"Buenos Aires, Argentina","via Trabajo.org - Vacantes De Empleo, Trabajo",Full-time,False,Argentina,2023-07-03 13:17:35,False,False,Argentina,None,NaN,NaN,Werben Capital Human,"['java', 'scala']","{'programming': ['java', 'scala']}"
863,Data Engineer,Data Engineer Jr,Argentina,via LinkedIn,Full-time,False,Argentina,2023-05-31 14:00:43,True,False,Argentina,None,NaN,NaN,Randstad Argentina,"['python', 'azure']","{'cloud': ['azure'], 'programming': ['python']}"
1131,Data Scientist,Data & Applied Intelligence #hub,"Buenos Aires, Argentina","via Trabajo.org - Vacantes De Empleo, Trabajo",Full-time,False,Argentina,2023-09-03 13:43:27,False,False,Argentina,None,NaN,NaN,Accenture,"['sql', 'python', 'sql server', 'postgresql', ...","{'cloud': ['azure', 'aws', 'gcp'], 'databases'..."
1140,Software Engineer,Visual Basic Developer (with Data experience) ...,Anywhere,via LinkedIn,Full-time,True,Argentina,2023-03-19 13:45:03,True,False,Argentina,None,NaN,NaN,Listopro,"['excel', 'confluence']","{'analyst_tools': ['excel'], 'async': ['conflu..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
785605,Senior Data Engineer,"Sr. Data Architect, Professional Services","Buenos Aires, Argentina","via Trabajo.org - Vacantes De Empleo, Trabajo",Full-time,False,Argentina,2023-08-01 06:34:24,False,False,Argentina,None,NaN,NaN,Emprego,"['sql', 'java', 'javascript', 'python', 'nosql...","{'cloud': ['aws', 'redshift'], 'databases': ['..."
785608,Software Engineer,Senior Software Engineer,"Buenos Aires, Argentina","via Trabajo.org - Vacantes De Empleo, Trabajo",Full-time,False,Argentina,2023-09-28 06:29:25,True,False,Argentina,None,NaN,NaN,Emprego,"['php', 'javascript', 'css', 'sass', 'sql', 'n...","{'libraries': ['react', 'graphql', 'kafka'], '..."
785638,Data Analyst,Data Analyst,"Buenos Aires, Argentina","via Trabajo.org - Vacantes De Empleo, Trabajo",Full-time,False,Argentina,2023-10-27 06:47:13,False,False,Argentina,None,NaN,NaN,Emprego,"['python', 'r', 'sql', 'looker', 'tableau']","{'analyst_tools': ['looker', 'tableau'], 'prog..."
785668,Data Analyst,Jr Data Analyst,Argentina,"via Trabajo.org - Vacantes De Empleo, Trabajo",Full-time,False,Argentina,2023-08-29 06:47:14,True,False,Argentina,None,NaN,NaN,Emprego,"['python', 'excel', 'tableau', 'power bi', 'sp...","{'analyst_tools': ['excel', 'tableau', 'power ..."
785672,Cloud Engineer,"Customer Engineer, Apigee, Google Cloud","Buenos Aires, Argentina","via Trabajo.org - Vacantes De Empleo, Trabajo",Full-time,False,Argentina,2023-08-29 06:47:39,False,False,Argentina,None,NaN,NaN,Emprego,None,None

In [9]:
df_arg

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills
job_index,,,,,,,,,,,,,,,,,
236,Data Scientist,Científico de Datos LLM,Anywhere,via LinkedIn,Full-time,True,Argentina,2023-10-08 13:46:02,False,False,Argentina,None,NaN,NaN,Turing,None,None
417,Senior Data Scientist,Data Science SR Puerto Madero,"Buenos Aires, Argentina","via Trabajo.org - Vacantes De Empleo, Trabajo",Full-time,False,Argentina,2023-07-03 13:17:35,False,False,Argentina,None,NaN,NaN,Werben Capital Human,"['java', 'scala']","{'programming': ['java', 'scala']}"
863,Data Engineer,Data Engineer Jr,Argentina,via LinkedIn,Full-time,False,Argentina,2023-05-31 14:00:43,True,False,Argentina,None,NaN,NaN,Randstad Argentina,"['python', 'azure']","{'cloud': ['azure'], 'programming': ['python']}"
1131,Data Scientist,Data & Applied Intelligence #hub,"Buenos Aires, Argentina","via Trabajo.org - Vacantes De Empleo, Trabajo",Full-time,False,Argentina,2023-09-03 13:43:27,False,False,Argentina,None,NaN,NaN,Accenture,"['sql', 'python', 'sql server', 'postgresql', ...","{'cloud': ['azure', 'aws', 'gcp'], 'databases'..."
1140,Software Engineer,Visual Basic Developer (with Data experience) ...,Anywhere,via LinkedIn,Full-time,True,Argentina,2023-03-19 13:45:03,True,False,Argentina,None,NaN,NaN,Listopro,"['excel', 'confluence']","{'analyst_tools': ['excel'], 'async': ['conflu..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
785605,Senior Data Engineer,"Sr. Data Architect, Professional Services","Buenos Aires, Argentina","via Trabajo.org - Vacantes De Empleo, Trabajo",Full-time,False,Argentina,2023-08-01 06:34:24,False,False,Argentina,None,NaN,NaN,Emprego,"['sql', 'java', 'javascript', 'python', 'nosql...","{'cloud': ['aws', 'redshift'], 'databases': ['..."
785608,Software Engineer,Senior Software Engineer,"Buenos Aires, Argentina","via Trabajo.org - Vacantes De Empleo, Trabajo",Full-time,False,Argentina,2023-09-28 06:29:25,True,False,Argentina,None,NaN,NaN,Emprego,"['php', 'javascript', 'css', 'sass', 'sql', 'n...","{'libraries': ['react', 'graphql', 'kafka'], '..."
785638,Data Analyst,Data Analyst,"Buenos Aires, Argentina","via Trabajo.org - Vacantes De Empleo, Trabajo",Full-time,False,Argentina,2023-10-27 06:47:13,False,False,Argentina,None,NaN,NaN,Emprego,"['python', 'r', 'sql', 'looker', 'tableau']","{'analyst_tools': ['looker', 'tableau'], 'prog..."
785668,Data Analyst,Jr Data Analyst,Argentina,"via Trabajo.org - Vacantes De Empleo, Trabajo",Full-time,False,Argentina,2023-08-29 06:47:14,True,False,Argentina,None,NaN,NaN,Emprego,"['python', 'excel', 'tableau', 'power bi', 'sp...","{'analyst_tools': ['excel', 'tableau', 'power ..."
785672,Cloud Engineer,"Customer Engineer, Apigee, Google Cloud","Buenos Aires, Argentina","via Trabajo.org - Vacantes De Empleo, Trabajo",Full-time,False,Argentina,2023-08-29 06:47:39,False,False,Argentina,None,NaN,NaN,Emprego,None,None

In [16]:
df_arg.reset_index(inplace=True)

df_arg

,job_index_arg,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills
0,236,Data Scientist,Científico de Datos LLM,Anywhere,via LinkedIn,Full-time,True,Argentina,2023-10-08 13:46:02,False,False,Argentina,None,NaN,NaN,Turing,None,None
1,417,Senior Data Scientist,Data Science SR Puerto Madero,"Buenos Aires, Argentina","via Trabajo.org - Vacantes De Empleo, Trabajo",Full-time,False,Argentina,2023-07-03 13:17:35,False,False,Argentina,None,NaN,NaN,Werben Capital Human,"['java', 'scala']","{'programming': ['java', 'scala']}"
2,863,Data Engineer,Data Engineer Jr,Argentina,via LinkedIn,Full-time,False,Argentina,2023-05-31 14:00:43,True,False,Argentina,None,NaN,NaN,Randstad Argentina,"['python', 'azure']","{'cloud': ['azure'], 'programming': ['python']}"
3,1131,Data Scientist,Data & Applied Intelligence #hub,"Buenos Aires, Argentina","via Trabajo.org - Vacantes De Empleo, Trabajo",Full-time,False,Argentina,2023-09-03 13:43:27,False,False,Argentina,None,NaN,NaN,Accenture,"['sql', 'python', 'sql server', 'postgresql', ...","{'cloud': ['azure', 'aws', 'gcp'], 'databases'..."
4,1140,Software Engineer,Visual Basic Developer (with Data experience) ...,Anywhere,via LinkedIn,Full-time,True,Argentina,2023-03-19 13:45:03,True,False,Argentina,None,NaN,NaN,Listopro,"['excel', 'confluence']","{'analyst_tools': ['excel'], 'async': ['conflu..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8731,785605,Senior Data Engineer,"Sr. Data Architect, Professional Services","Buenos Aires, Argentina","via Trabajo.org - Vacantes De Empleo, Trabajo",Full-time,False,Argentina,2023-08-01 06:34:24,False,False,Argentina,None,NaN,NaN,Emprego,"['sql', 'java', 'javascript', 'python', 'nosql...","{'cloud': ['aws', 'redshift'], 'databases': ['..."
8732,785608,Software Engineer,Senior Software Engineer,"Buenos Aires, Argentina","via Trabajo.org - Vacantes De Empleo, Trabajo",Full-time,False,Argentina,2023-09-28 06:29:25,True,False,Argentina,None,NaN,NaN,Emprego,"['php', 'javascript', 'css', 'sass', 'sql', 'n...","{'libraries': ['react', 'graphql', 'kafka'], '..."
8733,785638,Data Analyst,Data Analyst,"Buenos Aires, Argentina","via Trabajo.org - Vacantes De Empleo, Trabajo",Full-time,False,Argentina,2023-10-27 06:47:13,False,False,Argentina,None,NaN,NaN,Emprego,"['python', 'r', 'sql', 'looker', 'tableau']","{'analyst_tools': ['looker', 'tableau'], 'prog..."
8734,785668,Data Analyst,Jr Data Analyst,Argentina,"via Trabajo.org - Vacantes De Empleo, Trabajo",Full-time,False,Argentina,2023-08-29 06:47:14,True,False,Argentina,None,NaN,NaN,Emprego,"['python', 'excel', 'tableau', 'power bi', 'sp...","{'analyst_tools': ['excel', 'tableau', 'power ..."
8735,785672,Cloud Engineer,"Customer Engineer, Apigee, Google Cloud","Buenos Aires, Argentina","via Trabajo.org - Vacantes De Empleo, Trabajo",Full-time,False,Argentina,2023-08-29 06:47:39,False,False,Argentina,None,NaN,NaN,Emprego,None,None

In [17]:
df_arg.set_index('job_index_arg',inplace=True)
df_arg

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills
job_index_arg,,,,,,,,,,,,,,,,,
236,Data Scientist,Científico de Datos LLM,Anywhere,via LinkedIn,Full-time,True,Argentina,2023-10-08 13:46:02,False,False,Argentina,None,NaN,NaN,Turing,None,None
417,Senior Data Scientist,Data Science SR Puerto Madero,"Buenos Aires, Argentina","via Trabajo.org - Vacantes De Empleo, Trabajo",Full-time,False,Argentina,2023-07-03 13:17:35,False,False,Argentina,None,NaN,NaN,Werben Capital Human,"['java', 'scala']","{'programming': ['java', 'scala']}"
863,Data Engineer,Data Engineer Jr,Argentina,via LinkedIn,Full-time,False,Argentina,2023-05-31 14:00:43,True,False,Argentina,None,NaN,NaN,Randstad Argentina,"['python', 'azure']","{'cloud': ['azure'], 'programming': ['python']}"
1131,Data Scientist,Data & Applied Intelligence #hub,"Buenos Aires, Argentina","via Trabajo.org - Vacantes De Empleo, Trabajo",Full-time,False,Argentina,2023-09-03 13:43:27,False,False,Argentina,None,NaN,NaN,Accenture,"['sql', 'python', 'sql server', 'postgresql', ...","{'cloud': ['azure', 'aws', 'gcp'], 'databases'..."
1140,Software Engineer,Visual Basic Developer (with Data experience) ...,Anywhere,via LinkedIn,Full-time,True,Argentina,2023-03-19 13:45:03,True,False,Argentina,None,NaN,NaN,Listopro,"['excel', 'confluence']","{'analyst_tools': ['excel'], 'async': ['conflu..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
785605,Senior Data Engineer,"Sr. Data Architect, Professional Services","Buenos Aires, Argentina","via Trabajo.org - Vacantes De Empleo, Trabajo",Full-time,False,Argentina,2023-08-01 06:34:24,False,False,Argentina,None,NaN,NaN,Emprego,"['sql', 'java', 'javascript', 'python', 'nosql...","{'cloud': ['aws', 'redshift'], 'databases': ['..."
785608,Software Engineer,Senior Software Engineer,"Buenos Aires, Argentina","via Trabajo.org - Vacantes De Empleo, Trabajo",Full-time,False,Argentina,2023-09-28 06:29:25,True,False,Argentina,None,NaN,NaN,Emprego,"['php', 'javascript', 'css', 'sass', 'sql', 'n...","{'libraries': ['react', 'graphql', 'kafka'], '..."
785638,Data Analyst,Data Analyst,"Buenos Aires, Argentina","via Trabajo.org - Vacantes De Empleo, Trabajo",Full-time,False,Argentina,2023-10-27 06:47:13,False,False,Argentina,None,NaN,NaN,Emprego,"['python', 'r', 'sql', 'looker', 'tableau']","{'analyst_tools': ['looker', 'tableau'], 'prog..."
785668,Data Analyst,Jr Data Analyst,Argentina,"via Trabajo.org - Vacantes De Empleo, Trabajo",Full-time,False,Argentina,2023-08-29 06:47:14,True,False,Argentina,None,NaN,NaN,Emprego,"['python', 'excel', 'tableau', 'power bi', 'sp...","{'analyst_tools': ['excel', 'tableau', 'power ..."
785672,Cloud Engineer,"Customer Engineer, Apigee, Google Cloud","Buenos Aires, Argentina","via Trabajo.org - Vacantes De Empleo, Trabajo",Full-time,False,Argentina,2023-08-29 06:47:39,False,False,Argentina,None,NaN,NaN,Emprego,None,None

In [20]:
df_arg.pivot_table(index='job_title_short',values='salary_year_avg',aggfunc=['min','max','median'])

                                      min             max          median
                          salary_year_avg salary_year_avg salary_year_avg
job_title_short
Business Analyst                  63000.0         79200.0        71100.00
Cloud Engineer                   197500.0        197500.0       197500.00
Data Analyst                      45000.0        111202.0        92771.75
Data Engineer                     50400.0        147500.0        96773.00
Data Scientist                    50400.0        207500.0        71000.00
Machine Learning Engineer         70000.0        222000.0       101029.00
Senior Data Engineer             147500.0        147500.0       147500.00
Software Engineer                174500.0        174500.0       174500.00

In [28]:
df_arg.drop(columns=['salary_hour_avg'],inplace=True)
df_arg

C:\Users\fejle\AppData\Local\Temp\ipykernel_16576\2999100031.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_arg.drop(columns=['salary_hour_avg'],inplace=True)

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,company_name,job_skills,job_type_skills
job_index_arg,,,,,,,,,,,,,,,,
22620,Data Engineer,Digital Data Engineer,Argentina,via Ai-Jobs.net,Full-time,False,Argentina,2023-12-10 13:11:54,False,False,Argentina,year,120000.0,Nestlé,"['sql', 'python', 'r', 'shell', 'java', 'azure...","{'analyst_tools': ['excel', 'word', 'powerpoin..."
64412,Data Engineer,Azure Data Engineer,"Rosario, Santa Fe Province, Argentina",via Ai-Jobs.net,Full-time,False,Argentina,2023-05-18 06:11:15,False,False,Argentina,year,64800.0,OZ,"['sql', 'python', 'powershell', 'azure', 'data...","{'cloud': ['azure', 'databricks'], 'libraries'..."
78382,Data Engineer,Associate Data Engineer,"Buenos Aires, Argentina",via Ai-Jobs.net,Full-time,False,Argentina,2023-03-11 00:51:48,True,False,Argentina,year,98283.0,Publicis Groupe,"['python', 'sql', 'nosql', 'firestore', 'fireb...","{'cloud': ['firebase', 'gcp', 'bigquery'], 'da..."
93501,Data Analyst,"Data Analyst, Sales",Argentina,via Ai-Jobs.net,Full-time,False,Argentina,2023-01-04 09:57:50,True,False,Argentina,year,111202.0,Dialpad,"['sql', 'python', 'flow']","{'other': ['flow'], 'programming': ['sql', 'py..."
104117,Data Engineer,Data Engineer,Argentina,via Ai-Jobs.net,Full-time,False,Argentina,2023-06-17 01:06:55,False,False,Argentina,year,96773.0,Mutt Data,"['nosql', 'python', 'postgresql', 'databricks'...","{'cloud': ['databricks', 'aws', 'bigquery', 'r..."
107338,Data Scientist,Staff Data Scientist,Anywhere,via Levels.fyi,Full-time,True,Argentina,2023-12-12 00:46:50,False,True,Argentina,year,207500.0,MongoDB,"['mongodb', 'mongodb', 'sql', 'python']","{'databases': ['mongodb'], 'programming': ['mo..."
119738,Senior Data Engineer,Senior Data Engineer,Argentina,via Ai-Jobs.net,Contractor,False,Argentina,2023-03-23 08:40:50,True,False,Argentina,year,147500.0,MediaLab,"['scala', 'java', 'golang', 'aws', 'gcp', 'had...","{'cloud': ['aws', 'gcp'], 'libraries': ['hadoo..."
135531,Machine Learning Engineer,Machine Learning Engineer,Argentina,via Ai-Jobs.net,Full-time,False,Argentina,2023-06-16 09:06:55,False,False,Argentina,year,101029.0,Mutt Data,"['python', 'postgresql', 'databricks', 'aws', ...","{'cloud': ['databricks', 'aws', 'gcp'], 'datab..."
152274,Data Scientist,Tutor/a Data Science,"Buenos Aires, Argentina",via Ai-Jobs.net,Part-time,False,Argentina,2023-07-06 08:19:54,False,False,Argentina,year,72000.0,Coderhouse,['python'],{'programming': ['python']}
171432,Data Engineer,[VSN] Mid Level Data Engineer,"Buenos Aires, Argentina",via Ai-Jobs.net,Full-time,False,Argentina,2023-01-17 15:30:18,False,False,Argentina,year,96773.0,Software Mind,"['python', 'c#', 'nosql', 'mongodb', 'mongodb'...","{'cloud': ['snowflake', 'redshift'], 'database..."
187628,Cloud Engineer,"Staff Engineer, Service Architecture",Anywhere,via Levels.fyi,Full-time,True,Argentina,2023-11-29 15:13:19,False,False,Argentina,year,197500.0,MongoDB,"['mongodb', 'mongodb', 'c++']","{'databases': ['mongodb'], 'programming': ['mo..."
204569,Software Engineer,"Senior Software Engineer, Query",Anywhere,via Levels.fyi,Full-time,True,Argentina,2023-12-18 22:11:38,True,True,Argentina,year,174500.0,MongoDB,"['mongodb', 'mongodb', 'c++', 'c', 'rust']","{'databases': ['mongodb'], 'programming': ['mo..."
213345,Machine Learning Engineer,Front-End Engineer (Generative AI),Anywhere,via Wellfound,Full-time,True,Argentina,2023-11-04 23:03:10,False,False,Argentina,year,70000.0,Altimate AI,"['typescript', 'sql', 'react', 'vue']","{'libraries': ['react'], 'programming': ['type..."
311143,Data Engineer,Data Engineer - Ops Support,"Rosario, Santa Fe Province, Argentina",via Ai-Jobs.net,Full-time,False,Argentina,2023-03-21 17:48:35,False,False,Argentina,year,96773.0,OZ,"['sql', 'sql server', 'db2', 'aws', 'azure', '...","{'analyst_tools': ['ssis'], 'cloud': ['aws', '..."
334082,Data Engineer,Data Engineer,Argentina,via EchoJobs,Full-time,False,Argentina,2023-01-01 00:06:13,True,False,Argentina,year,65000.0,Spiff,"['python', 'mysql', 'aws', 'azure']","{'cloud': ['aws', 'azure'], 'databases': ['mys..."
345103,Data Analyst,Pasantia - Data Analyst BI,Argentina,via Ai-Jobs.net,Part-time,False,Argentina,2023-01-10 23:44:52,False,False,Argentina,year,45000.0,Publicis Groupe,"['sql', 'python', 'javascript', 'sql server', ...","{'analyst_tools': ['excel', 'power bi', 'table..."
361865,Data Engineer,"Technical Solutions Engineer, Data","Buenos Aires, Argentina",via Ai-Jobs.net,Full-time,False,Argentina,2023-01-05 23:46:52,False,False,Argentina,year,50400.0,Media.Monks,"['javascript', 'python', 'java', 'sql', 'azure...","{'cloud': ['azure'], 'programming': ['javascri..."
389926,Data Scientist,Data Scientist Manager,"Buenos Aires, Argentina",via Ai-Jobs.net,Full-time,False,Argentina,2023-02-03 18:50:18,False,False,Argentina,year,132500.0,Visa,"['python', 'r', 'spark', 'scikit-learn', 'hado...","{'analyst_tools': ['tableau'], 'libraries': ['..."
401552,Data Engineer,LAS Seeds Data Engineer,"Vicente López, Buenos Aires Province, Argentina",via Ai-Jobs.net,Full-time,False,Argentina,2023-08-11 18:14:03,False,False,Argentina,year,134241.0,Syngenta Group,"['python', 'java', 'scala', 'aws', 'gcp', 'red...","{'analyst_tools': ['alteryx'], 'cloud': ['aws'..."
451216,Data Scientist,Data Strategist Trainee,"Buenos Aires, Argentina",via Ai-Jobs.net,Part-time,False,Argentina,2023-03-16 14:50:20,False,False,Argentina,year,50400.0,Publicis Groupe,"['excel', 'powerpoint', 'tableau']","{'analyst_tools': ['excel', 'powerpoint', 'tab..."
482340,Data Engineer,Fullstack Data Engineer,Anywhere,via Wellfound,Full-time,True,Argentina,2023-03-21 14:48:24,True,False,Argentina,year,60000.0,Pocket Network,"['sql', 'golang', 'typescript', 'python', 'gcp...","{'cloud': ['gcp'], 'libraries': ['react', 'air..."
504816,Senior Data Engineer,[VMB] Senior Data Engineer,"Buenos Aires, Argentina",via Ai-Jobs.net,Full-time,False,Argentina,2023-08-18 11:12:32,True,False,Argentina,year,147500.0,Software Mind,"['python', 'sql', 'postgresql', 'spark', 'airf...","{'databases': ['postgresql'], 'libraries': ['s..."
548036,Data Analyst,Data Analyst,"Veinticinco de Mayo, Buenos Aires Province, Ar...",via Ai-Jobs.net,Full-time,False,Argentina,2023-12-30 19:08:55,False,False,Argentina,year,74368.5,Cargill,None,None
559523,Data Analyst,Data Analyst,"Buenos Aires, Argentina",via Ai-Jobs.net,Full-time,False,Argentina,2023-05-06 04:45:18,True,False,Argentina,year,111175.0,Publicis Groupe,"['sql', 'python']","{'programming': ['sql', 'python']}"
560869,Business Analyst,Business Intelligence | Experts/ Managers,Argentina,via Ai-Jobs.net,Full-time,False,Argentina,2023-11-03 04:33:47,True,False,Argentina,year,79200.0,Accenture,"['python', 'power bi', 'tableau', 'qlik', 'dax']","{'analyst_tools': ['power bi', 'tableau', 'qli..."
564923,Business Analyst,BI Analyst,"Buenos Aires, Argentina",via Ai-Jobs.net,Full-time,False,Argentina,2023-01-24 04:46:05,True,False,Argentina,year,63000.0,Media.Monks,"['sql', 'javascript', 'python', 'gcp', 'expres...","{'analyst_tools': ['tableau', 'power bi'], 'cl..."
616774,Data Scientist,Junior Data Scientist,"Buenos Aires, Argentina",via Ai-Jobs.net,Full-time,False,Argentina,2023-01-16 13:06:41,False,False,Argentina,year,64821.5,Media.Monks,"['r', 'python', 'css', 'javascript', 'sql', 'a...","{'analyst_tools': ['tableau', 'looker'], 'clou..."
628288,Data Scientist,Data Scientist,"Venado Tuerto, Santa Fe Province, Argentina",via Ai-Jobs.net,Full-time,False,Argentina,2023-07-21 12:42:27,False,False,Argentina,year,70000.0,Syngenta Group,"['r', 'sql', 'power bi', 'excel']","{'analyst_tools': ['power bi', 'excel'], 'prog..."
650403,Data Engineer,Sr Data Engineer - Development,"Rosario, Santa Fe Province, Argentina",via Ai-Jobs.net,Full-time,False,Argentina,2023-09-01 10:56:31,False,False,Argentina,year,96773.0,OZ,"['sql', 't-sql', 'sql server', 'db2', 'azure',...","{'analyst_tools': ['ssis'], 'cloud': ['azure',..."
660004,Data Engineer,Data Engineer Trainee,"Buenos Aires, Argentina",via Ai-Jobs.net,Full-time,False,Argentina,2023-01-16 11:06:34,False,False,Argentina,year,98283.0,Publicis Groupe,"['python', 'sql', 'gcp', 'bigquery', 'airflow']","{'cloud': ['gcp', 'bigquery'], 'libraries': ['..."
745627,Machine Learning Engineer,"Director of Engineering, ML Platform",Anywhere,via Levels.fyi,Full-time,True,Argentina,2023-12-04 20:13:08,False,False,Argentina,year,222000.0,MongoDB,"['mongodb', 'mongodb', 'python']","{'databases': ['mongodb'], 'programming': ['mo..."
772403,Data Engineer,Data Engineer,"Buenos Aires, Argentina",via Ai-Jobs.net,Full-time,False,Argentina,2023-01-05 01:48:24,False,False,Argentina,year,147500.0,Dialpad,"['python', 'java', 'scala', 'gcp', 'aws', 'azu...","{'cloud': ['gcp', 'aws', 'azure', 'bigquery', ..."